.product-page {
    width: 100%;
    margin-top: 16px;
    overflow: hidden;
}

.product-banner {
    position: relative;
    padding: 20px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 10px;
}

.product-image-container {
    position: relative;
}

.product-image {
    width: 492px;
    height: auto;
    border-radius: 5px;
}


.product-duration, .product-playtime, .product-soundtime {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 1rem;
    color: #000;
}

.product-duration {
    font-weight: bold;
    font-size: 1.2rem;
}

.product-info {
    padding: 20px;
    margin-top: 16px;
    background-color: #ffffff;
    border-radius: 10px;
}

.product-commitment {
    display: flex;
    flex-wrap: wap;
    justify-content: space-between;
    font-size: 0.9rem;
    color: #6c757d;
    padding: 10px 0;
}
.product-commitment{
    background-color: #ffffff;
    border-radius: 10px;
    margin: 24px 0;
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.product-commitment-header{
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--text-color);
}
.product-commitment p {
    display: flex;
    align-items: center;
    margin: 18px 0 0 0;
    font-size: 1.5rem;
}

.product-commitment i {
    margin-right: 5px;
}

.tabs {
    display: flex;
    justify-content: center;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin-top: 10px;
}

.tab {
    padding: 10px 20px;
    font-size: 1.4rem;
    cursor: pointer;
    flex: 1;
    text-align: center;
    color: #333;
    border: none;
    outline: none;
    background: none;
}

.tab.active {
    color: #007bff;
    font-weight: bold;
}

.specifications {
    padding: 20px 0;
    font-size: 1.5rem;
}

.spec-item {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    border-bottom: 1px solid #f1f1f1;
    font-size: 1.5rem;
}

.spec-title {
    font-weight: 500;
    color: #333;
}

.spec-value {
    color: #555;
}
.product-reviews{
    padding: 20px;
    margin-top: 24px;
    background-color: #ffffff;
    border-radius: 10px;
}
/**/
.reviews-header{
    font-size: 1.6rem;
    font-weight: bold;
}
.review-header h4{
    margin-bottom: 5px;
}
.reviews-stars{
    display: flex;
    font-size: 1.4rem;
    margin-top: 16px;
}
.reviews-stars span{
    margin-right: 10px;
    font-weight: bold;
    font-size: 1.8rem;
    color: #FFD43B;
}
.review-rating{
    display: flex;
}
.review-rating-group{
    margin-right: 10px;
}
.review-rating-group::before{
    border: 1px solid #ffffff9b;
}
.review-text{
    display: block;
    text-align: start;
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2rem;
}
.reviews-footer{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.btn--reviews-footer{
    width: 324px;
    height: 40px;
    font-size: 1.4rem;
    border: none;
    background-color: transparent;
    border-radius: 8px;
    margin: 0 10px;
}
.btn--reviews-footer.show{
    border: 1px solid var(--text-color);
    color: var(--text-color);
    transition: background-color 0.2s ease-in;
}
.btn--reviews-footer.show:hover{
    background-color: var(--black-color);
    color: var(--white-color);
}
.btn--reviews-footer.write{
    color: var(--white-color);
    background-color: var(--primary-color);
    transition: background-color 0.2s ease-in, boder 0.2s ease-in;
}
.btn--reviews-footer.write:hover{
    background-color: var(--white-color);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}
/*  */
.product-option{
    padding: 20px;
    margin-top: 16px;
    margin-bottom: 30px;
    background-color: #ffffff;
    border-radius: 10px;
    height: 685px;
}
.options-GB{
    display: flex;
    font-size: 1.4rem;
}
.options-GB-link{
    text-decoration: none;
    border: 1px solid #333333a9;
    border-radius: 8px;
    width: 75px;
    height: 40px;
    margin-right: 10px;
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
}
.options-GB-link.active{
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    background-color: rgba(11, 116, 229, 0.05);
}
.options-color{
    display: flex;
    flex-wrap: wrap;
    font-size: 1.4rem;
}
.options-color-link{
    text-decoration: none;    
    border: 1px solid #333333a9;
    border-radius: 15px;
    margin-right: 10px;
    padding: 5px 10px;
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    cursor: pointer;
    user-select: none;
}
.options-color i{
    border: 1px solid #eaecf0;
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin: 0 5px 1px 0;
}
.options-color-link.active{
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    background-color: rgba(11, 116, 229, 0.05);
}
.product-option-price{
    margin-top: 20px;
    display: flex;
    align-items: center;
}
.product-option-price span:nth-child(1){
    font-size: 2rem;
    font-weight: bold;
    color: #d92d20;
    margin-right: 10px;
}
.product-option-price span:nth-child(2){
    font-size: 1.2rem;
    background-color: #f2f4f7;
    padding: 2px 10px;
    border-radius: 20px;
}
.product-option-promotions{
    border: 1px solid #3333335c;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    /* padding: 10px; */
    margin-top: 20px;
}
.option-promotions__sale{
    /* margin-bottom: 20px; */
    border-bottom: 1px solid #3333335c;
    padding: 10px;
    background-color:  #33333316;
    font-size: 1.4rem;

}
.option-promotions__p{
    display: flex;
    flex-direction: column;
    padding: 10px;
    max-height: 237px;
    font-size: 1.4rem;
    color: var(--text-color);
    transition: max-height 0.3s ease;
    overflow-y: auto; /* Bật cuộn dọc */
    position: relative;
}

.option-promotions__p.expanded {
    max-height: none; /* Bỏ giới hạn chiều cao khi mở rộng */
    overflow-y: visible; /* Tắt cuộn khi mở rộng */
}

.option-promotions__p::-webkit-scrollbar {
    width: 6px; /* Độ rộng thanh cuộn */
}

.option-promotions__p::-webkit-scrollbar-thumb {
    background-color: #ccc; /* Màu thanh cuộn */
    border-radius: 3px;
}

.option-promotions__p::-webkit-scrollbar-track {
    background-color: #f5f5f5; /* Màu nền của thanh cuộn */
}

.description-text {
    display: block;
    font-size: 14px;
    line-height: 20px; /* Chiều cao dòng để dễ tính toán */
    color: #555;
    white-space: pre-wrap; /* Giữ định dạng xuống dòng */
    overflow-wrap: break-word; /* Đảm bảo từ dài không tràn */
}

.option-promotion{
    margin-top: 10px;
    line-height: 2rem;
}
.option-promotion i{
    margin-right: 5px;
}
.product-option-actions{
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.btn--option-actions{
    width: 185px;
    height: 50px;
    border-radius: 8px;
    border: transparent;
    font-size: 1.4rem;
}
.btn--option-actions.add-to-cart{
    background-color: transparent;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}
.btn--option-actions.buy-now{
    background-color: var(--primary-color);
    color: var(--white-color);
    border: 1px solid var(--primary-color);
}
/*  */
.similar-products{
    margin-top: 24px;
    display: flex;
    flex-wrap: wrap;
}
.similar-products-text{
    font-size: 2rem;
    padding: 5px;
    font-weight: bold;
}
.saidyes{
    width: 15px;
    /* margin-right: 10px; */
    position: absolute;
    top: 329px;
}
.auth-form__aside-policy.review{
    /* display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px; */
    margin-left: 7px;
}
.auth-form__controls.review{
    margin-bottom: 15px;
}
.btn--review {
    width: 100%;
    margin-bottom: 15px;
}
.auth-form--review__body__group--input.review{
    max-width: 48%;
}
.fRContent{
    border: 1px solid var(--boder-color);
    color: var(--text-color);
    font-size: 14px;
    height: 80px;
    line-height: 17px;
    padding: 10px;
    resize: none;
    width: 100%;
    outline: none;
    overflow: hidden;
}
.auth_form__body__group.review{
    display: flex;
    justify-content: space-between;
}
.auth-form--review__body__group--input.review,
.fRContent{
    border-radius: 8px;
}
.rating-topzonecr-star{
    display: flex;
    list-style: none;
    justify-content: space-around;
}
.rating-topzonecr-star li {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.rating-topzonecr-star li p{
    font-size: 1.2rem;
}
.star__review{
    font-size: 50px;

}
.name-product {
    font-size: 3rem;
    margin: 10px 0;
    line-height: 40px;
}